.Polaris-Modal-Section {
  padding: 4rem;
}

.Polaris-Labelled--hidden {
    height: 100%;
  }
  
.Polaris-DropZone--sizeSmall {
  height: 100%;
}

.Polaris-Thumbnail--sizeLarge {
  width: 100px;
  height: 100px;
}

.Polaris-Button.Polaris-Button--primary {
  float: right;
}
